:root {
/* Color Palette */ 
    --ocean: #1A7C84;
    --waves: #074c52;
    --white: #FFFFFF;
    --overlay: linear-gradient(rgba(26, 124, 132, 0.7), rgba(78, 198, 209, 0.7));
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    font-size: 16px; 
    background-color: var(--white);
    color: var(--ocean);
    margin: 0;
    padding: 0;
}

/* Headings and Paragraphs */
h1, h2, h3 {
    font-family: 'Alegreya', serif; 
    letter-spacing: .15em; 
    text-transform: uppercase; 
    margin: 0; /* Spacing above and below */
    padding: 0; /* spacing inside above and below */
}

h1 {
    font-size: 12em; /* Header title and Travelogue title*/
    line-height: 1.1; 
    font-weight: 400; 
    margin-bottom: 0.2em; 
}

h2 {
    font-size: 3em; /* Spot title */
    line-height: 1.2; 
    font-weight: 500; 
    margin-bottom: 0.3em;
}

h3 {
    font-size: 5em; /* About and footer title */
    line-height: 1.3; 
    font-weight: 500;
    margin-bottom: 0.4em; 
}

h4 {
    font-family: 'Montserrat', sans-serif; /*eyebrow and why I love it */
    font-size: 1.4em;
    letter-spacing: .22em; 
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif; /* Body text font */
    line-height: 1.6; 
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.65em 0; 
}


/* Hero Section */
.hero {
    position: relative; /* Position relative to contain absolute children */
    min-height: 80vh; /* Full viewport height */
    color: var(--white); /* White text over the image */
    overflow: hidden;
}

/* Hero Background Image */
.hero_image {
    position: absolute; 
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width of the column */
    height: 100%;
    z-index: 0; /*  image is behind other elements */
}   

.hero_image img {
    width: 100%; /* Full width of the column */
    height: 100%; 
    object-fit: cover; /* Fills the container without distortion */
    object-position: center; /* Center the image */
    display: block; 
}

.hero_image::after {
    content: ""; /* Empty content for the overlay*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay); /* Overlay gradient */
    z-index: 1; /* Ensure overlay is above the image but below text */
}

.logo img{
    position: absolute; 
    top: 60px; 
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */

    width: 200px; 
    height: auto; /* Maintain aspect ratio */

    z-index: 3; /*  logo is aon top */
    opacity: 0.8; 
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3)); 
    border: 2px solid var(--white); 
    border-radius: 8px; 
    padding: 20px; /* space around the border */
}

.hero_text {
    position: relative; /* Position relative to the hero */
    max-width: 86rem; /* Limit width for better readability */
    padding-left: 66px;  /* Brings left the content of the page*/
    padding-top: 250px; /* Spacing from the top */
    z-index: 2;
    margin-left: 40px; /* Spacing from the left edge */
}

.hero_text h4 {
    margin-bottom: 10px;
    color: var(--white); 
}

.hero_text h1 {
    color: var(--white); 
}

.hero_panel {
    position: absolute; 
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the panel */
    bottom : 0px; /* no Distance from the bottom edge */
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); /* Blurred background effect */
    padding: 32px 48px; /* Inner spacing */
    color: var(--white);

    display: flex; 
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%; 
    max-width: 1200px; /* Limit width */
    margin: 0 auto; /* Center the panel */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    z-index: 3; 
}

.hero_panel_header {
    text-align: center; 
    color: var(--white);
    margin: 0 0 40px; /* Spacing below the header */
}

.hero_panel_list {
    list-style: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
    gap: 0; /* Spacing between items */
    align-items: stretch; /* Stretch items to the same height */
}

.hero_panel_list li {
    flex: 1; /* Equal width for each item */
    display:flex; /* Flexbox for link alignment */
}

.hero_panel_list li:not(:last-child) .hero_panel_item {
    border-right: 1px solid var(--white); /* Divider between items */
}

.hero_panel_item {
    display: flex; /* Flexbox for link alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    padding: 32px; /* Inner spacing */
    width: 100%; 
    text-decoration: none; /* Remove underline */
    color: var(--white); /* Link color */
}

.spot_title {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif; 
}

.spot_info {
    font-size: 1.2em;
    font-weight: 300; 
    letter-spacing: .04em;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif; 
    margin: 18px 0;  
    max-width: 300px;
    color: var(--white);
}

.down_icon {
    width: 50px; 
    height: auto;
    margin-top: 6px; 
    align-items: center;
    justify-content: center;
}

/* What is Sakhalin - left column - text*/
.overview {
    display: grid; 
    grid-template-columns: 1.4fr 1fr; /* two column layout */
    align-items: start; /* Vertically center items */
    padding: 100px 60px; /* Inner spacing */
    background: var(--ocean);
}

.about h3{
    margin: 0 80px 30px; /* Spacing around the title */
    color: var(--white);
}

.about h4{
    margin: 0 80px 10px; 
    color: var(--white);
    opacity: 0.7;
}

.about p {
    margin-bottom: 14px; 
    font-weight: 300;
    color: var(--white); 
    padding-left: 80px; 
    max-width: 75ch;
}

.map_button {
    margin: 60px auto; /* Spacing above the button */
    text-align: center; /* Center the button */
    max-width: 400px; /* Limit width */

}
.map_link {
    display: block; /* Inline-block for button-like behavior */
    text-decoration: none; /* Remove underline */
    padding: 22px 24px; 
    font-size: 1.2rem;
    text-transform: uppercase; 
    font-weight: 500; 
    letter-spacing: .16em; 
    color: var(--white); /* Eyebrow color */
    font-family: 'Montserrat', sans-serif;

    border: 2px solid var(--white); 
    border-radius: 12px; 
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    align-items: center; /* Center the button */
}

/*Right column - image*/
.sakhalin-image{
    display: flex; /* Flexbox for centering */
    align-items: flex-start; /* Align to the top */
    justify-content: center; /* Center the image */
    padding-top: 30px; /* Spacing from the top */
}

.sakhalin-image img {
    width: 90%;
    max-width: 550px; 
    object-fit: cover; /* Fills the container without distortion */
    display: block;
}


/*Travelogue Section */
.travelogue {
    width: 100%;
    margin-top: 126px; 
    background-color: var(--white);  
}

.travelogue-header {
    text-align: center;
    padding: 0 20px 60px; /* Spacing above and below the header */
    margin: 0 auto;
    max-width: 1400px; 
}

.travelogue h3 {
    color: var(--ocean); 
}

.travelogue h4 {
    color: var(--waves); 
    opacity: 0.7;
    margin-top: 10px; /* Spacing above the subtitle */
}

/* Individual Review Section */
.review {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin: 0;
    align-items: stretch;
    width: 100%;
    background: var(--white);
    box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.15);
    margin-bottom: 70px;
}

.review-image {
    margin: 0; /* No margin for figure */
    padding: 0;
}

.review-image figure {
    margin: 0;
    height: 100%;
}

.review-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.review-text {
    position: relative;
    background: rgba(26, 124, 132, 0.3);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow: hidden;
    z-index: 1;
}

.review-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(26, 124, 132, 0.7), rgba(78, 198, 209, 0.7)),url("images/busse2.webp") no-repeat center/cover;
    filter: blur(20px);
    opacity: 0.15;
    z-index: 0;
}

.review-text h4 {
    color: var(--ocean);
    opacity: 0.4;
}

.review-text h2 {
   margin: 0;
   color: var(--ocean);
   font-size: 4.4em;
}


.review-text p {
    color:var(--waves);
    margin: .65rem 0 0;
}

/* Why I love it */
.review-card {
    margin: 2rem -3rem -3rem;
    background:var(--ocean);
    padding: 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    color: var(--white);
    opacity: 0.9;
}

.review-card h4 {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.review-card p {
    color: var(--white);
    margin-bottom: 1rem;
    opacity: 0.9;
    padding-left: 1rem;
}

.review.reverse {
    grid-template-columns: 2fr 1.5fr;
}

.review.reverse .review-text {
    grid-column: 1;
    grid-row: 1;
}

.review.reverse .review-image {
    grid-column: 2;
    grid-row: 1;
}

/* Footer Section */
.footer {
    background: var(--white);
    color: var(--ocean);
    text-align: center;
    padding: 80px 20px 40px;
}

.footer h3 {
    color: var(--ocean); 
    margin-bottom: 2rem;
}

.footer p {
    max-width: 900px;
    margin: 0 auto 5rem;
    padding: 0 20px;
}

.footer small {
    color: var(--waves);
    opacity: 0.7;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}
